{% extends "base.html" %}

{% block title %}Index - Polls{% endblock %}

{% block content %}
    <h1>HOME</h1>
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            {% comment "Optional note" %}
                <p>Commented out text with {{ create_date|date:"c" }}</p>
            {% endcomment %}
            <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
            {# <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> #}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    <br/>
    <div>
        <h3>Main</h3>
        <ul>
            <li><a href="{% url 'main:index' %}">Index</a></li>
            <li><a href="{% url 'main:detail' 1 %}">Detalle</a></li>
            <li><a href="{% url 'main:results' 2 %}">Result</a></li>
            <li><a href="{% url 'main:vote' 3 %}">Vote</a></li>
            <li><a href="{% url 'main:getPdf' %}">PDF</a></li>
            <li><a href="{% url 'main:getPdfBytes' %}">PDFB</a></li>
            <li><a href="{% url 'main:html2pdf' %}">Htlm2Pdf</a></li>
        </ul>
    </div>  
    <br/>
    <div>
        <h3>Api rest</h3>
        <ul>
            <li><a href="{% url 'rest:libro-list' %}">Libros</a></li>
            <li><a href="{% url 'rest:autor-list' %}">Autor</a></li>
            <li><a href="{% url 'rest:file-list' %}">File</a></li>
            <li><a href="{% url 'rest2:my_rest_view_1' 2 %}">my_rest_view_1</a></li>
            <li><a href="{% url 'rest2:my_rest_view_1' 3 %}?format=json&arg1=128&arg2=hola">my_rest_view_1 2</a></li>
            <li><a href="{% url 'rest2:my_rest_view_1' 70 %}/?format=json&arg1=128&arg2=hola">my_rest_view_1 3</a></li>
            <li><a href="{% url 'rest2:my_rest_view_2' %}">my_rest_view_2</a></li>
            <li><a href="{% url 'rest2:my_rest_view_2' %}?code=00198&active=true">my_rest_view_2 params</a></li>
            <li><a href="{% url 'rest3:my_json_1' n1=5 %}">json_1</a></li>
            <li><a href="{% url 'rest3:my_json_2' n1=5 n2=2 %}">json_2</a></li>
            <li><a href="{% url 'rest3:my_json_3' n1=5 n2=2 %}">json_3</a></li>
            <li><a href="{% url 'rest3:my_json_4' p1=1 p2=2 p3=3 %}">json_4</a></li>
            <li><a href="{% url 'rest3:my_json_5' m1=1091 m2=2245 m3=09 %}">json_5</a></li>
            <li><a href="{% url 'rest3:my_json_5' 1091 2245 09 %}">json_5 withou param names</a></li>
            <li><a href="{% url 'rest4:base_file' %}">Base File</a></li>
            <li><a href="{% url 'rest4:base_file_pk' 2 %}">Base File PK</a></li>
        </ul>
    </div>  
    <br/>
    <div>
        <h3>Reportes</h3>
        <ul>
            <li><a href="{% url 'polls:line' %}">Line</a></li>
            <li><a href="{% url 'polls:column' %}">Column</a></li>
            <li><a href="{% url 'polls:pie' %}">Pie</a></li>
        </ul>
    </div>  
{% endblock %}